In [30]:
# Initial imports
import os
import pandas as pd
import numpy as np
from dotenv import load_dotenv
import nltk as nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

%matplotlib inline

[nltk_data] Downloading package vader_lexicon to /Users/KyleBreda
[nltk_data]     1/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [31]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

In [32]:
df = pd.read_csv('../Project-2/Kyle/Ethereum2_EthTrader_Bear.csv')
df.head()

,Index,title,timestamp,date,Market,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,507,What were you doing in 2016?,2021-07-20 19:21:56+00:00,2021-07-20,Bear,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,510,"A year ago $BTC was $11,000 and $ETH was $320....",2021-07-20 07:58:51+00:00,2021-07-20,Bear,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,183,What it feels like talking about crypto lately...,2021-07-19 10:41:37+00:00,2021-07-19,Bear,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,370,You you bought near the ATH and are deeply in ...,2021-07-19 23:05:58+00:00,2021-07-19,Bear,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,277,Free Brittany,2021-07-18 20:10:39+00:00,2021-07-18,Bear,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df_clean = df.dropna(axis=1)

In [38]:
df_clean.head()

,Index,title,timestamp,date,Market
0,507,What were you doing in 2016?,2021-07-20 19:21:56+00:00,2021-07-20,Bear
1,510,"A year ago $BTC was $11,000 and $ETH was $320....",2021-07-20 07:58:51+00:00,2021-07-20,Bear
2,183,What it feels like talking about crypto lately...,2021-07-19 10:41:37+00:00,2021-07-19,Bear
3,370,You you bought near the ATH and are deeply in ...,2021-07-19 23:05:58+00:00,2021-07-19,Bear
4,277,Free Brittany,2021-07-18 20:10:39+00:00,2021-07-18,Bear

In [33]:
df_2 = pd.read_csv('../Project-2/Kyle/Ethereum2_EthTrader_Bull.csv')
df_2.head()

,Index,title,timestamp,date,Market,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,306,This is what peak human performance looks like,2021-08-02 04:02:39+00:00,2021-08-02,Bull,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,598,Mining is really bad for the environment,2021-08-01 09:26:18+00:00,2021-08-01,Bull,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,347,Welcome back boys. $2500 is here,2021-07-31 14:05:47+00:00,2021-07-31,Bull,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,700,*Crypto,2021-07-31 11:28:20+00:00,2021-07-31,Bull,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,726,easy to say,2021-07-31 08:49:31+00:00,2021-07-31,Bull,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df_2_clean = df.dropna(axis=1)

In [40]:
df_2_clean.head()

,Index,title,timestamp,date,Market
0,507,What were you doing in 2016?,2021-07-20 19:21:56+00:00,2021-07-20,Bear
1,510,"A year ago $BTC was $11,000 and $ETH was $320....",2021-07-20 07:58:51+00:00,2021-07-20,Bear
2,183,What it feels like talking about crypto lately...,2021-07-19 10:41:37+00:00,2021-07-19,Bear
3,370,You you bought near the ATH and are deeply in ...,2021-07-19 23:05:58+00:00,2021-07-19,Bear
4,277,Free Brittany,2021-07-18 20:10:39+00:00,2021-07-18,Bear