# Going Live with CCXT

### Import Libraries and Dependencies

In [3]:
# Import libraries and dependencies
import ccxt
import os
import pandas as pd
from dotenv import load_dotenv

### Import Environment Variables

In [4]:
# Load environment variables
load_dotenv()

# Import environment variables
kraken_public_key = os.getenv("KRAKEN_PUBLIC_KEY")
kraken_secret_key = os.getenv("KRAKEN_SECRET_KEY")

# Verify that environment variables were loaded
print(f"Kraken key data type: {type(kraken_public_key)}")
print(f"Kraken secren data type: {type(kraken_secret_key)}")

Kraken key data type: <class 'str'>
Kraken secren data type: <class 'str'>

### Set Public and Private Keys for Kraken Exchange via the CCXT library

In [5]:
# Set the public and private keys for the API
exchange = ccxt.kraken({
    'apiKey': kraken_public_key,
    'secret': kraken_secret_key,
})

### Connect to Kraken and Load Available Cyptocurrency Data

In [18]:
# Connect to Kraken and load the available cryptocurrencies
crypto_details = exchange.load_markets()

# Import data as a Pandas DataFrame
crypto_df = pd.DataFrame(crypto_details)

### List Available Cryptocurrencies for Trading

### Fetch Historical Data for BTC/USD

In [19]:
# Fetch daily candlestick bar data from `BTC/USD`
historical_prices = exchange.fetch_ohlcv("ETH/USD", "1d")

# Import the data as a Pandas DataFrame and set the columns
historical_prices_df = pd.DataFrame(
    historical_prices, columns=["timestamp", "open", "high", "low", "close", "volume"]
)
historical_prices_df

         timestamp     open     high      low    close        volume
0    1565913600000   187.94   188.21   177.96   185.50  46462.792099
1    1566000000000   185.50   186.88   182.11   185.63  16282.375255
2    1566086400000   186.21   198.00   183.37   194.57  23132.750126
3    1566172800000   194.57   203.79   193.15   202.27  36218.947254
4    1566259200000   202.39   202.77   194.48   196.44  20299.207631
..             ...      ...      ...      ...      ...           ...
715  1627689600000  2462.75  2552.37  2421.86  2530.53  33361.973340
716  1627776000000  2532.73  2698.47  2515.35  2557.45  70557.168652
717  1627862400000  2557.46  2665.94  2508.48  2609.60  41724.944457
718  1627948800000  2609.61  2632.19  2446.00  2507.34  49350.880410
719  1628035200000  2507.35  2522.53  2482.56  2516.00   1423.527648

[720 rows x 6 columns]

### Convert Epoch Timestamp to Readable Date Format

In [21]:
# Convert epoch timestamp to date using the `to_datetime` function and `unit` parameter
historical_prices_df["date"] = pd.to_datetime(
    historical_prices_df["timestamp"], unit="ms"
)
historical_prices_df.head(100)

        timestamp    open    high     low   close         volume       date
0   1565913600000  187.94  188.21  177.96  185.50   46462.792099 2019-08-16
1   1566000000000  185.50  186.88  182.11  185.63   16282.375255 2019-08-17
2   1566086400000  186.21  198.00  183.37  194.57   23132.750126 2019-08-18
3   1566172800000  194.57  203.79  193.15  202.27   36218.947254 2019-08-19
4   1566259200000  202.39  202.77  194.48  196.44   20299.207631 2019-08-20
..            ...     ...     ...     ...     ...            ...        ...
95  1574121600000  177.91  178.07  172.52  175.64   27369.677016 2019-11-19
96  1574208000000  175.70  177.32  173.27  174.26   14652.068218 2019-11-20
97  1574294400000  174.25  175.50  156.00  161.01   59277.247962 2019-11-21
98  1574380800000  161.03  162.82  138.00  149.79  102149.992343 2019-11-22
99  1574467200000  149.78  154.25  146.50  151.97   31431.353808 2019-11-23

[100 rows x 7 columns]