In [3]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/tylermurray/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [4]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

In [14]:
import numpy as np
import pandas as pd

df = pd.read_csv('../Project-02/EthTrader.csv')
df.head()

,Index,title,timestamp,date,Market
0,306,This is what peak human performance looks like,2021-08-02 04:02:39+00:00,2021-08-02,Bull
1,598,Mining is really bad for the environment,2021-08-01 09:26:18+00:00,2021-08-01,Bull
2,347,Welcome back boys. $2500 is here,2021-07-31 14:05:47+00:00,2021-07-31,Bull
3,700,*Crypto,2021-07-31 11:28:20+00:00,2021-07-31,Bull
4,726,easy to say,2021-07-31 08:49:31+00:00,2021-07-31,Bull

In [16]:
df['title'].value_counts()

Every time                                                                                             4
Pain                                                                                                   3
Visa, IBM, Microsoft and USAA have all posted jobs in the past week looking for Ethereum developers    2
Reality                                                                                                2
Hewlett Packard Enterprise and 47 Organizations Join 200-Member Strong Enterprise Ethereum Alliance    2
                                                                                                      ..
I drew the Ethereal using spray and paper.                                                             1
Germany’s Energy Giant Launches 100s of Ethereum Based Electric Cars Charging Stations                 1
Ethereum’s Proof of Stake Casper Testnet Nears Launch                                                  1
Vitalik Teases Sharding Release on Twitter                                                             1
A note on how the latest Casper PoC accomplishes its fast block times safely                           1
Name: title, Length: 1920, dtype: int64

In [17]:
df.dropna(inplace=True)

In [18]:
df.head()

,Index,title,timestamp,date,Market
0,306,This is what peak human performance looks like,2021-08-02 04:02:39+00:00,2021-08-02,Bull
1,598,Mining is really bad for the environment,2021-08-01 09:26:18+00:00,2021-08-01,Bull
2,347,Welcome back boys. $2500 is here,2021-07-31 14:05:47+00:00,2021-07-31,Bull
3,700,*Crypto,2021-07-31 11:28:20+00:00,2021-07-31,Bull
4,726,easy to say,2021-07-31 08:49:31+00:00,2021-07-31,Bull

In [19]:
df['scores'] = df['title'].apply(lambda review: sid.polarity_scores(review))

df.head()

,Index,title,timestamp,date,Market,scores
0,306,This is what peak human performance looks like,2021-08-02 04:02:39+00:00,2021-08-02,Bull,"{'neg': 0.0, 'neu': 0.737, 'pos': 0.263, 'comp..."
1,598,Mining is really bad for the environment,2021-08-01 09:26:18+00:00,2021-08-01,Bull,"{'neg': 0.387, 'neu': 0.613, 'pos': 0.0, 'comp..."
2,347,Welcome back boys. $2500 is here,2021-07-31 14:05:47+00:00,2021-07-31,Bull,"{'neg': 0.0, 'neu': 0.625, 'pos': 0.375, 'comp..."
3,700,*Crypto,2021-07-31 11:28:20+00:00,2021-07-31,Bull,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4,726,easy to say,2021-07-31 08:49:31+00:00,2021-07-31,Bull,"{'neg': 0.0, 'neu': 0.408, 'pos': 0.592, 'comp..."

In [20]:
df['compound']  = df['scores'].apply(lambda score_dict: score_dict['compound'])

df.head()

,Index,title,timestamp,date,Market,scores,compound
0,306,This is what peak human performance looks like,2021-08-02 04:02:39+00:00,2021-08-02,Bull,"{'neg': 0.0, 'neu': 0.737, 'pos': 0.263, 'comp...",0.3612
1,598,Mining is really bad for the environment,2021-08-01 09:26:18+00:00,2021-08-01,Bull,"{'neg': 0.387, 'neu': 0.613, 'pos': 0.0, 'comp...",-0.5849
2,347,Welcome back boys. $2500 is here,2021-07-31 14:05:47+00:00,2021-07-31,Bull,"{'neg': 0.0, 'neu': 0.625, 'pos': 0.375, 'comp...",0.4588
3,700,*Crypto,2021-07-31 11:28:20+00:00,2021-07-31,Bull,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
4,726,easy to say,2021-07-31 08:49:31+00:00,2021-07-31,Bull,"{'neg': 0.0, 'neu': 0.408, 'pos': 0.592, 'comp...",0.4404

In [21]:
df['comp_score'] = df['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

df

,Index,title,timestamp,date,Market,scores,compound,comp_score
0,306,This is what peak human performance looks like,2021-08-02 04:02:39+00:00,2021-08-02,Bull,"{'neg': 0.0, 'neu': 0.737, 'pos': 0.263, 'comp...",0.3612,pos
1,598,Mining is really bad for the environment,2021-08-01 09:26:18+00:00,2021-08-01,Bull,"{'neg': 0.387, 'neu': 0.613, 'pos': 0.0, 'comp...",-0.5849,neg
2,347,Welcome back boys. $2500 is here,2021-07-31 14:05:47+00:00,2021-07-31,Bull,"{'neg': 0.0, 'neu': 0.625, 'pos': 0.375, 'comp...",0.4588,pos
3,700,*Crypto,2021-07-31 11:28:20+00:00,2021-07-31,Bull,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos
4,726,easy to say,2021-07-31 08:49:31+00:00,2021-07-31,Bull,"{'neg': 0.0, 'neu': 0.408, 'pos': 0.592, 'comp...",0.4404,pos
...,...,...,...,...,...,...,...,...
1934,846,Coinbase adds support for Ethereum,2016-07-21 09:02:03+00:00,2016-07-21,Neutral,"{'neg': 0.0, 'neu': 0.597, 'pos': 0.403, 'comp...",0.4019,pos
1935,732,The DAO hacker gives an interview.,2016-06-23 07:40:09+00:00,2016-06-23,Neutral,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos
1936,801,To the community,2016-06-21 08:06:59+00:00,2016-06-21,Neutral,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos
1937,912,Ethereum Founder Anthony Di Iorio on twitter: ...,2016-06-20 09:18:35+00:00,2016-06-20,Neutral,"{'neg': 0.0, 'neu': 0.891, 'pos': 0.109, 'comp...",0.4019,pos
1938,658,Personal statement regarding the fork,2016-06-17 06:27:24+00:00,2016-06-17,Neutral,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos

In [22]:
df.describe()

             Index    compound
count  1939.000000  1939.00000
mean    486.023724     0.11033
std     280.922729     0.32038
min       1.000000    -0.93530
25%     243.000000     0.00000
50%     485.000000     0.00000
75%     729.500000     0.36035
max     974.000000     0.94930