In [4]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/tylermurray/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [5]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

In [8]:
import numpy as np
import pandas as pd

df = pd.read_csv('../Project-02/Project 2 Sentiment Data - Ethereum.csv')
df.head()

   Title  Sentiment                                            Comment
0      1        0.0  All the tosspots focusing on Vitaliks wealth c...
1      2        NaN                                                NaN
2      3        NaN                                                NaN
3      4        0.0                              Too many trolls here.
4      5        NaN                                                NaN

In [12]:
df['Title'].value_counts()

904    1
283    1
309    1
308    1
307    1
      ..
599    1
598    1
597    1
596    1
1      1
Name: Title, Length: 904, dtype: int64

In [13]:
df.dropna(inplace=True)

In [14]:
df.head()

    Title  Sentiment                                            Comment
0       1        0.0  All the tosspots focusing on Vitaliks wealth c...
3       4        0.0                              Too many trolls here.
6       7        0.0  * Price information is currently the most tran...
26     27        0.0  Everyone here seems to be of the mind *"Well h...
39     40        0.0                    Respect for him for doing this!

In [16]:
df['scores'] = df['Comment'].apply(lambda review: sid.polarity_scores(review))

df.head()

,Title,Sentiment,Comment,scores
0,1,0.0,All the tosspots focusing on Vitaliks wealth c...,"{'neg': 0.134, 'neu': 0.639, 'pos': 0.227, 'co..."
3,4,0.0,Too many trolls here.,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
6,7,0.0,* Price information is currently the most tran...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
26,27,0.0,"Everyone here seems to be of the mind *""Well h...","{'neg': 0.0, 'neu': 0.816, 'pos': 0.184, 'comp..."
39,40,0.0,Respect for him for doing this!,"{'neg': 0.0, 'neu': 0.596, 'pos': 0.404, 'comp..."

In [17]:
df['compound']  = df['scores'].apply(lambda score_dict: score_dict['compound'])

df.head()

,Title,Sentiment,Comment,scores,compound
0,1,0.0,All the tosspots focusing on Vitaliks wealth c...,"{'neg': 0.134, 'neu': 0.639, 'pos': 0.227, 'co...",0.3197
3,4,0.0,Too many trolls here.,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
6,7,0.0,* Price information is currently the most tran...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
26,27,0.0,"Everyone here seems to be of the mind *""Well h...","{'neg': 0.0, 'neu': 0.816, 'pos': 0.184, 'comp...",0.5574
39,40,0.0,Respect for him for doing this!,"{'neg': 0.0, 'neu': 0.596, 'pos': 0.404, 'comp...",0.5255

In [18]:
df['comp_score'] = df['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

df.head()

,Title,Sentiment,Comment,scores,compound,comp_score
0,1,0.0,All the tosspots focusing on Vitaliks wealth c...,"{'neg': 0.134, 'neu': 0.639, 'pos': 0.227, 'co...",0.3197,pos
3,4,0.0,Too many trolls here.,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos
6,7,0.0,* Price information is currently the most tran...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos
26,27,0.0,"Everyone here seems to be of the mind *""Well h...","{'neg': 0.0, 'neu': 0.816, 'pos': 0.184, 'comp...",0.5574,pos
39,40,0.0,Respect for him for doing this!,"{'neg': 0.0, 'neu': 0.596, 'pos': 0.404, 'comp...",0.5255,pos